body, html {
    margin: 0;
    padding: 0;
}

#header {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}

#map {
    width: 100vw;
    height: 100vh;
}

#header-text {
    margin: 0 auto;
    width: fit-content;
    color: darkslateblue;
    font-size: 2rem;
    font-family: sans-serif;
}

#search-bar {
    position: absolute;
    z-index: 1;
    width: fit-content;
    background-color: white;
    margin: 8px;
    display: block;
    border-radius: 12px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

#menu-button {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    padding: 12px 16px;
    height: 24px;
    width: 24px;
}

#search-input {
    background: none;
    border: none;
    outline: none;
    position: relative;
    box-sizing: border-box;
    width: 392px;
    height: 48px;
    padding: 12px 104px 11px 64px;
}

#search-button {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    padding: 12px 15px;
    margin: 0;
}
