/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: auto;
    background-color: darkslateblue;
    box-shadow: 0 0 20px -5px black
}

#header-list {
    list-style: none;
    display: flex;
    margin: 2vh 0;
    padding-left: 2vh;
}

#header-search {
    position: absolute;
    margin: 10vh auto 0 1vh;
    height: 5vh;
    z-index: 1;
    width: 50vw;
}

#search-bar {
    background-color: darkslateblue;
    color: white;
    font-size: 3vh;
    height: 100%;
    padding: 0 1vh 0 1vh;
    border-radius: 1vh;
    border: none;
    outline: none;
    box-shadow: 0 0 20px -5px black;
    width: inherit;
}

#search-list {
    background-color: white;
    margin: 0 1vh;
    padding: 0;
    width: inherit;
    font-size: 3vh;
    list-style: none;
    border-radius: 0 0 2vh 2vh;
    box-shadow: 0 0 20px -5px black;
}

#search-list li {
    padding: 1vh;
    border: 0 solid darkgrey;
    border-bottom-width: 0.2vh;
    transition: 0.5s ease;
}

#search-list li:hover {
    background-color: lightgray;
}

#search-list li:last-child {
    border: none;
}


#header-search input::placeholder {
    color: white;
}

#header-menu {
    color: white;
    font-size: 4vh;
    margin-right: 2vh;
    align-self: center;
}

#header-text {
    color: white;
    font-size: 4vh;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}